
<center class="page">

</center>

<div class="left1">

<p>カテゴリー</p>
<% @config.home_category.each{|category| %>
    <p><a href="./<%= category[1] %>.html"><%= category[0] %></a></p>
<% } %>


<!--アクセスカウンター-->
    <a href="//35913790.ranking.fc2.com/" title="FC2USER455674GFLさんのランキング集計結果" />FC2USER455674GFLさんのランキング集計結果</a><br>
    <a href="https://form1ssl.fc2.com/form/?id=74351d57a82b8eca">メールフォーム</a><br>

    <a href="http://fc2-seo-ranking.com/%E7%94%BB%E5%83%8F/">画像</a><br>
    <a href="http://fc2-seo-ranking.com/%E6%98%A0%E7%94%BB/">映画</a><br>
    <a href="http://fc2-seo-ranking.com/%E3%82%A2%E3%83%8B%E3%83%A1/">アニメ</a><br>
    <a href="http://fc2-seo-ranking.com/%E7%84%A1%E6%96%99%E3%82%A8%E3%83%AD%E5%8B%95%E7%94%BB/">無料エロ動画</a><br>
    <a href="http://fc2-seo-ranking.com/%E5%8B%95%E7%94%BB/">動画</a><br>
    <a href="http://fc2-seo-ranking.com/%E7%84%A1%E6%96%99%E5%8B%95%E7%94%BB/">無料動画</a><br>

    <script type="text/javascript" src="//35913790.ranking.fc2.com/accessory.js?rtype=ref" charset="utf-8"></script>
    <script type="text/javascript" src="//35913790.ranking.fc2.com/accessory.js?rtype=page" charset="utf-8"></script>
    <script type="text/javascript" src="//35913790.ranking.fc2.com/accessory.js?rtype=clk" charset="utf-8"></script>
    <script type="text/javascript" src="//35913790.ranking.fc2.com/analyze.js" charset="utf-8"></script>



<!--カテゴリ作成(謎の処理・問題１)-->
<% i = 0 %>
<% while i <= @config.affiliate_size do %>
  <%= @config.affiliate[rand(@config.affiliate.size)][:url] %>
  <% i = i + 1 %>
<% end %>


</div>



 <!--ネンドの処理-->
 <script type="text/javascript">
    var nend_params = {"media":60252,"site":320010,"spot":946339,"type":1,"oriented":1};
  </script>
  <script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>


  <% i = 0 %>
  <% while i <= @config.affiliate_DMM_Video_top_size do %>
  <%= @config.affiliate_DMM_Video_Top[rand(@config.affiliate_DMM_Video_Top.size)][:url] %>
  <% i = i + 1 %>
  <% end %>
  <br>



<!--右アフェリエイトを貼る  -->
<div class="left3">

  <% i = 0 %>
  <% while i <= @config.affiliate_size do %>
    <%= @config.affiliate[rand(@config.affiliate.size)][:url] %>
    <% i = i + 1 %>
  <% end %>

  <% i = 0 %>
  <% while i <= @config.affiliate_DMM_size do %>
    <%= @config.affiliate_DMM[rand(@config.affiliate_DMM.size)][:url] %>
    <% i = i + 1 %>
  <% end %>
</div>


<!--本文-->

<% i = 0 %>
<% while i <= @config.affiliate_DMM_Video_top_size do %>
  <%= @config.affiliate_DMM_Video_Top[rand(@config.affiliate_DMM_Video_Top.size)][:url] %>
  <% i = i + 1 %>
<% end %>
<br>


<table border="0" style="width: 60%" class="left2">
      <tbody>
         <tr>
         <% i = 1 %>
          <% @pic.each{|pic| %>   
              
                <img src="<%= pic[:www_Path] %>" alt="<%= @date.to_s %> 今日の嫁 <%= i%>り女">今日の嫁　<%= i %>り目のおんな
              
            <% i = i+1 %>
          <% } %>
        </tr>
      </tbody>
</table>






<script type="text/javascript">
var nend_params = {"media":60252,"site":320010,"spot":946339,"type":1,"oriented":1};
</script>
<script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>

